/* Use @import */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "../primevue/tailwind.css";
@import "tailwindcss/utilities";

:root {
  --p-primary-50: #fff5f7;
  --p-primary-100: #ffe4e8;
  --p-primary-200: #ffc1cc;
  --p-primary-300: #ff99b0;
  --p-primary-400: #ff7094;
  --p-primary-500: #ff4778;
  --p-primary-600: #db3563;
  --p-primary-700: #b7244e;
  --p-primary-800: #93133a;
  --p-primary-900: #7a072c;
  --p-primary-950: #53001e;

  --p-surface-0: #ffffff;
  --p-surface-50: #fff5f7;
  --p-surface-100: #ffe4e8;
  --p-surface-200: #ffc1cc;
  --p-surface-300: #ff99b0;
  --p-surface-400: #ff7094;
  --p-surface-500: #ff4778;
  --p-surface-600: #db3563;
  --p-surface-700: #b7244e;
  --p-surface-800: #93133a;
  --p-surface-900: #7a072c;
  --p-surface-950: #53001e;
  --p-content-border-radius: 3px;
}

:root {
  --p-primary-color: var(--p-primary-500);
  --p-primary-contrast-color: var(--p-surface-0);
  --p-primary-hover-color: var(--p-primary-600);
  --p-primary-active-color: var(--p-primary-700);
  --p-content-border-color: var(--p-surface-200);
  --p-content-hover-background: var(--p-surface-100);
  --p-content-hover-color: var(--p-surface-800);
  --p-highlight-background: var(--p-primary-50);
  --p-highlight-color: var(--p-primary-700);
  --p-highlight-focus-background: var(--p-primary-100);
  --p-highlight-focus-color: var(--p-primary-800);
  --p-text-color: var(--p-surface-700);
  --p-text-hover-color: var(--p-surface-800);
  --p-text-muted-color: var(--p-surface-500);
  --p-text-hover-muted-color: var(--p-surface-600);
}
